#admin-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#admin-upload{
    margin-bottom: 1rem;
}
table{
    width: 100%;
    border: solid 1px black;
    margin-bottom: 1rem;
}
th, td {
    text-align: center;
    border: solid 1px black;
    padding: 1rem;
}
.comment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.comment-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    width: 24rem;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.carousel-wrapper{
    padding: 0px 3rem;
    margin: 0px auto;
}
.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem !important;
    height: 30rem !important;
    background-color: honeydew;
    border:solid;
    border-color: black;
}
.image-card img{
    width: 25rem;
    height: 25rem;
}
.glider-next{
    margin-right:-1rem;
}
.glider-prev{
    margin-left: -1rem;
}