:root{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 100;
}
.form-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0.31250rem 0;
}
.email-input{
    width: 16rem;
    height: 1.625rem;
    border-radius: 1rem;
    border: solid gainsboro;
    padding: 0.500rem;
}
.email-input:focus{
    outline: none;
    border-color: #000;
}
.password-input{
    width: 16rem;
    height: 1.625rem;
    border-radius: 1rem;
    border: solid gainsboro;
    padding: 0.500rem;
}
.password-input:focus{
    outline: none;
    border-color: #000;
}
.login-form{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-form{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit-button{
    width: 15rem;
    background-color: white;
    border-radius:0.625rem;
    border: solid gainsboro;
}
.carousel-wrapper{
    padding: 0px 30px;
    margin: 0px auto;
}
.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem !important;
    height: 30rem !important;
    background-color: honeydew;
    border:solid;
    border-color: black;

}
.image-card img{
    width: 25rem;
    height: 25rem;
}
.glider-next{
    margin-right:-1rem;
}
.glider-prev{
    margin-left: -1rem;
}
#logout-button{
   margin-bottom: 1rem;
}