.carousel-wrapper{
    padding: 0px 2rem;
    margin: 0px auto;
}
.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem !important;
    height: 30rem !important;
    background-color: honeydew;
    border:solid;
    border-color: black;
}
.image-card img{
    width: 25rem;
    height: 25rem;
}
.glider-next{
    margin-right:-1rem;
}
.glider-prev{
    margin-left: -1rem;
}
.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-textarea{
    width: 30rem;
    height: 10rem;
    margin-bottom: 1rem;
}
.comment-textarea:focus{
    border: solid;
    outline: none;
    border-color: #000;
}
#logout-button{
    margin-bottom: 1rem;
}